<section id="featured-articles">
    {% assign featured_post = site.posts | where: "featured", true | first %}
    {% assign other_posts = site.posts | where_exp: "post", "post.featured != true" %}
    {% if featured_post %}
    <!-- only create this section if we have a featured post-->
    <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Featured Article</h1>
    </div>
    <div id="recent-articles-show-all">
      <a class="btn btn-lg btn-dark" href="/blog/categories/projects/"> View All </a>
    </div>
  </div>
  <br />
  <div class="featured-project">
  <div class="thumb">
    <img src="{{site.url}}{{site.baseurl}}{{featured_post.thumbnail}}">
  </div>
  <div class="content">
    <h2><a href="{{site.url}}{{site.baseurl}}{{featured_post.permalink}}">{{featured_post.title}}</a>
    <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ featured_post.date }}" itemprop="datePublished">{{ featured_post.date | date: "%b %-d, %Y" }}</time></i></span>
    </h2>
    <p>{{featured_post.summary}}</p>
    <a href="{{site.url}}{{site.baseurl}}{{featured_post.permalink}}" class="btn">Read More</a>
  </div>
</div>

{% endif %}
</section>