---
layout: full-width
---

<script>
  let hasRunSecondTypewrite = false;

  function ontypewriteComplete() {
    if (!hasRunSecondTypewrite) {
      hasRunSecondTypewrite = true;
      $("#typewriteText").typewrite({showCursor: false,
      actions: [{ type: "{{site.typewrite-text}}" }]
      });
    }
  }

  $(document).ready(function() {
    $("#typewriteNDText").typewrite({speed: 30, showCursor: false,
      actions: [{ type: "{{site.typewrite-ND-text}}" }, {delay: 1500}, {remove: {num: "{{site.typewrite-ND-text}}".length, type: 'stepped'}}]
    });
    
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
      {%- include featured_article.html -%}
      {%- include recent_articles.html -%}
    </div>