---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteNDText").typewrite({speed: 60, showCursor: false,
      actions: [{ type: "{{site.typewrite-ND-text}}" }, {delay: 1500}, {remove: {num: "{{site.typewrite-ND-text}}".length, type: 'stepped'}}]
    });
    $("#typewriteText").typewrite({showCursor: false,
      actions: [{delay: 6000}, { type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>